extends layout

block body
  .page-header
    .center-container: h1 404: Page not found

  .center-container
    .alert.alert-error(style='font-size: 18px') The resource you're looking for is not found