extends layout

block body

  include shared/form-helpers

  .page-header
    .center-container: h1 Sign Up Succeeded

  .center-container
    .alert.alert-success New user has been successfully registered.